<!DOCTYPE html>
<h1>Whiteboard app</h1>
<h2> <%= title %> </h2>
<form action="/create" method="POST">
    <div>
        <label for="fname"> Enter name </label>
        <input type="text" id="fname" name="name"/>
    </div>
    <div>
        <label for="fmail"> Enter guests email separate with ";"</label>
        <textarea id="fmail" name="guests"></textarea>
    </div>
    <div>
        <input type="submit" value="Create session :)"/>
    </div>
</form>