<h1>Sessions page</h1>
<% if (data) { %>
    <p>id: <%= data.id %></p>
    <p id="name" >user: <%=data.name%></p> 
<% }%>
<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  const name  = $()
  socket.emit("create", `hello I am `);
</script> -->